<ion-header>
</ion-header>

<div class="header">
  <!-- ios 상태표시줄 영역 설정 -->
<ion-row class="iosStatusBar">
  </ion-row>  
  <ion-row class="header">
    <ion-col class="close" size="auto">
      <ion-thumbnail class="header" (click)='back()'>
        <ion-img class="close" src="{{auth.root}}assets/png/btn_close.png"></ion-img>
      </ion-thumbnail>
    </ion-col>
  </ion-row>
</div>

<ion-content class="ion-padding">
  <div class="container">

    <!-- 제목 -->
    <div class="introTitle">
      <ion-row class="introTitle">
        <ion-label class="introTitle">약관동의</ion-label>
      </ion-row>
      <ion-row class="introContext">
        <ion-label class="introContext">약관이 변경되었습니다. 약관에 동의해 주세요.</ion-label>
      </ion-row>
    </div>
    <!-- 약관 전체동의 -->
    <ion-row class="terms marginbottom">
      <ion-col class="terms" size="auto ion-no-padding">
        <ion-checkbox class="termsAll ion-no-padding" [(ngModel)]='isAllCheck' (click)='termsAllChanged()'></ion-checkbox>
        <ion-label class="termsAll">{{auth.message.get('signup', 'Agreement')}}</ion-label>
      </ion-col>
    </ion-row>
    <!-- 약관 개별동의 -->
    <ion-list>
      <ion-virtual-scroll [items]="termsList">
            <!--ion-col class="terms" size="auto ion-no-padding">
            <ion-col class="terms" size="auto ion-no-padding"-->
        <ion-item *virtualItem="let terms" class="termsList  ion-no-padding">
          <ion-row class="terms">
            <ion-col class="terms" size="auto ion-no-padding">
              <ion-checkbox class="terms" [(ngModel)]='termsCheck[terms.no.toString()]' (ionChange)='termsChanged()'
                no-margin></ion-checkbox>
              <ion-label class="terms">{{terms.subject}}</ion-label>
            </ion-col>
            <ion-col class="terms" size="auto ion-no-padding">
              <ion-button class="terms" (click)='showTerms(terms)'>{{auth.message.get('signup', 'content')}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>

  </div>
</ion-content>

    <!-- 완료 버튼 -->
    <ion-row class="complete">
        <ion-button class="complete" (click)='complete()'>{{auth.message.get('signup', 'complete')}}</ion-button>
      </ion-row>
  

<!-- --------------------------------------------------------------------------------------------- -->


<style>
  div.header {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  ion-row.header {
    justify-content: flex-end;
    border: none;
    background: inherit;
  }

  div.container {
    flex-direction: column;
    padding: 0rem 1.5rem;
  }

  div.introTitle {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  ion-row.introTitle{
    margin-bottom: 0.5rem;
  }

  ion-label.introTitle {
    font-size: 2.7rem;
  }

  ion-label.introContext {
    font-size: 1.2rem;
    color: gray;
  }

  ion-row.marginbottom {
    margin-bottom: 0.5rem;
  }

  ion-row.terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ion-col.terms {
    display: flex;
    align-items: center;
  }

  ion-checkbox.terms {
    transform: scale(0.9);
  }

  ion-label.termsAll {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  ion-label.terms {
    font-size: 1.1rem;
    margin-left: 1rem;
  }


  ion-button.terms {
    --background: inherit;
    color: var(--pplus-blue);
    font-size: 1.2rem;
    --box-shadow: 0rem;
    height: 100%;
    margin: 0rem;
  }

  /* 완료 버튼 */
  ion-row.complete {
    background: white;
    padding: 2rem;
  }


  ion-button.complete {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    --background: var(--pplus-blue);
    --border-radius: 2rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    --box-shadow: none;
  }
</style>