<ion-header>
</ion-header>

<div class="header">
  <!-- ios 상태표시줄 영역 설정 -->
  <ion-row class="iosStatusBar"></ion-row>
  <!-- 헤더설정 -->
  <ion-row class="header">
    <!-- 뒤로가기버튼 -->
    <ion-col class="header ion-no-padding" size="auto">
      <ion-thumbnail class="header" (click)='back()'>
        <ion-img class="back" src="{{auth.root}}assets/png/btn_prev.png"></ion-img>
      </ion-thumbnail>
    </ion-col>
  </ion-row>
</div>

<ion-content class="ion-padding">
  <div class="container">
    <!-- 인트로 타이틀 -->
    <div class="introTitle ion-no-padding">
      <ion-row class="introTitle">
        <ion-label class="introTitle">비밀번호를</ion-label>
      </ion-row>
      <ion-row class="introTitle">
        <ion-label class="introTitle">잊으셨나요?</ion-label>
      </ion-row>
      <!-- 인트로 설명 -->
      <ion-row class="introContext">
        <ion-label class="introContext">아이디를 찾기 위해 휴대폰 인증을 해주세요.</ion-label>
      </ion-row>
    </div>
    <!-- 제목 -->
    <ion-row class="list">
      <ion-col class="list ion-no-padding">
        <ion-row class="defaultTitle">
          <ion-label class="defaultTitle">아이디</ion-label>
        </ion-row>
        <!-- 휴대폰 번호 입력 -->
        <ion-row class="defaultInput">
          <ion-input class="defaultInput" [(ngModel)]='loginId' placeholder="아이디 입력"></ion-input>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- 휴대폰 번호 입력 -->
    <ion-row class="list">
      <ion-col class="list ion-no-padding">
        <ion-row class="defaultTitle">
          <ion-label class="defaultTitle">휴대폰 인증</ion-label>
        </ion-row>
        <ion-row class="defaultInput">
          <ion-input class="defaultInput" [(ngModel)]='mobile' placeholder="휴대폰 번호 입력"></ion-input>
        </ion-row>
      </ion-col>
      <!-- 인증요청 버튼 -->
      <ion-col class="authNumberCall" size="auto ion-no-padding">
        <ion-button class="authNumberCall white" (click)='checkUser()'>{{auth.message.get('idsearch', 'authRequest')}}
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- 제목 -->
    <ion-row class="list" [hidden]='!isSms'>
      <ion-col class="list ion-no-padding">
        <ion-row class="defaultTitle">
          <ion-label class="defaultTitle">인증번호</ion-label>
        </ion-row>
        <!-- 휴대폰 번호 입력 -->
        <ion-row class="defaultInput">
          <ion-input class="defaultInput" [(ngModel)]='authNumber' placeholder="인증번호 입력"></ion-input>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- 인증확인 버튼 -->
    <ion-row class="check" [hidden]='!isSms'>
      <ion-button class="check" (click)='authCheck()'>인증확인</ion-button>
    </ion-row>
  </div>
</ion-content>


<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


<style>

  ion-row.header{
    border-bottom: none;
  }
  
  div.container {
    flex-direction: column;
    padding: 0rem 1.5rem;
    height: auto;
    padding-bottom: 50vh;
  }

  div.introTitle {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  ion-label.introTitle {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  ion-label.introContext {
    font-size: 1.3rem;
    color: var(--pplus-gray);
    margin-bottom: 2rem;
  }

  ion-row.defaultTitle {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  ion-label.defaultTitle {
    font-size: 1.1rem;
    font-weight: bold;
  }

  ion-row.defaultInput {
    border-bottom: solid 0.05rem var(--pplus-border);
    height: 2rem;
    margin-bottom: 2rem;
  }

  ion-input.defaultInput {
    height: 100%;
    font-size: 1.4rem;
    --placeholder-color: var(--pplus-placeholder);
    --placeholder-opacity: none;
  }

  ion-row.list {
    margin-top: 4rem;
  }

  ion-col.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ion-button.authNumberCall {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    --background: white;
    --border-radius: 2rem;
    border-radius: 2rem;
    border: solid 0.15rem var(--pplus-border);
    color: var(--pplus-blue);
    font-weight: bold;
    --box-shadow: none;
  }

  ion-col.authNumberCall {
    display: flex;
    align-items: center;
  }

  ion-button.check {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    --background: var(--pplus-blue);
    --border-radius: 2rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    --box-shadow: none;
  }
</style>