<ion-header>
</ion-header>

<div class="header">
  <!-- ios 상태표시줄 영역 설정 -->
<ion-row class="iosStatusBar">
  </ion-row>  
  <!-- 헤더설정 -->
  <ion-row class="header">
    <ion-col class="header" size="auto ion-no-padding">
      <ion-thumbnail class="header" (click)='close()'>
        <ion-img class="close" src="{{auth.root}}assets/png/btn_close.png"></ion-img>
      </ion-thumbnail>
    </ion-col>
  </ion-row>
</div>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row class="introTitle">
        <ion-label class="introTitle">PR넘버 만들기</ion-label>
      </ion-row>
      <ion-row class="introContext">
        <!-- 매장번호 선택할 경우 -->
        <ion-label class="introContext" *ngIf="prNumberType == 'store'">매장을 운영하시는 경우, 매장 번호로 PR넘버를 만드시면 홍보효과가 좋습니다.
        </ion-label>
        <!-- 휴대폰 번호 선택할 경우 -->
        <ion-label class="introContext" *ngIf="prNumberType == 'mobile'">개인 전문가일 경우, 휴대폰 번호로 PR넘버를 만드시면 홍보효과가 좋습니다.
        </ion-label>
      </ion-row>
      <ion-radio-group class="defaultRadio" [(ngModel)]='prNumberType'>
        <ion-row class="defaultRadio">
          <ion-col class="defaultRadio">
            <ion-radio class="defaultRadio" value="store" (ionSelect)='storeSelect()' checked>
            </ion-radio>
            <ion-label class="defaultRadio" id='storeNumberLabel'>매장번호</ion-label>
          </ion-col>
          <ion-col class="defaultRadio">
            <ion-radio class="defaultRadio" value="mobile" (ionSelect)='mobileSelect()'>
            </ion-radio>
            <ion-label class="defaultRadio" id='mobileNumberLabel'>휴대폰 번호</ion-label>
          </ion-col>
        </ion-row>
      </ion-radio-group>
      <!-- 매장번호일 경우 -->
      <ion-row class="defaultInput" *ngIf="prNumberType == 'store'">
        <ion-col class="inputLeft ion-no-padding" size="3">
          <ion-input class="defaultInput" [(ngModel)]='storeNumber1'></ion-input>
        </ion-col>
        <ion-col class="defaultInput ion-no-padding">
          <ion-input class="defaultInput" [(ngModel)]='storeNumber2'></ion-input>
        </ion-col>
      </ion-row>
      <!-- 휴대폰 번호일 경우 -->
      <ion-row class="defaultInput" *ngIf="prNumberType == 'mobile'">
        <ion-input class="defaultInput" [(ngModel)]='mobileNumber'></ion-input>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<div class="check">
  <ion-row class="check">
    <ion-button class="check" (click)='complete()'>완료</ion-button>
  </ion-row>
</div>


<!-- --------------------------------------------------------------------------------------------- -->


<style>
  div.header {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  ion-row.header {
    justify-content: flex-end;
    border: none;
    background: inherit;
  }

  div.container {
    padding: 0rem 1.5rem;
  }

  ion-row.introTitle {
    margin-top: 7rem;
    margin-bottom: 0.5rem;
  }

  ion-label.introTitle {
    font-size: 2.3rem;
  }

  ion-row.introContext {
    margin-bottom: 2.5rem;
  }

  ion-label.introContext {
    font-size: 1.3rem;
    color: #b7b7b7;
  }

  ion-col.defaultRadio {
    display: flex;
    align-items: center;
  }

  ion-radio-group.defaultRadio {
    width: 100%;
  }

  ion-radio.defaultRadio {
    transform: scale(0.9);
    margin-right: 0.8rem;
    --color-checked: var(--pplus-blue);
    --border-width: 0.1rem;
  }

  ion-label.defaultRadio {
    font-size: 1.3rem;
    color: #737373;
    /* 선택시 색상 변경되도록 설정 추가해야함 */
  }

  ion-row.defaultInput {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  ion-col.inputLeft {
    margin-right: 2rem;
  }

  ion-input.defaultInput {
    border-bottom: solid 0.25rem #dcdcdc;
    font-size: 2rem;
  }

  div.check {
    background: white;
    padding: 0rem 1.5rem;
  }

  ion-row.check {
    margin-bottom: 2rem;
  }

  ion-button.check {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    --background: var(--pplus-blue);
    --border-radius: 2rem;
    border-radius: 2rem;
    color: white;
    --box-shadow: none;
  }
</style>