div.custom-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

ion-split-pane {
  --side-min-width: 100px;
  --side-max-width: 700px;
  --side-width: 300px;
}

ion-split-pane.split-pane-visible.hydrated {
  background-color: var(--ion-color-light);
}

div.divider {
  height: 100%;
  width: 7px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10;
  cursor: col-resize;
  background: var(--ion-color-light);
}

ion-split-pane {
  margin-top: 4rem;
}

ion-row.splashIcon {
  justify-content: center;
}

ion-thumbnail {
  width: 10rem;
  height: auto;
}

/* 스플래쉬아이콘 */
ion-img.splashIcon {
  width: 10rem;
  height: auto;
}

ion-row.splashLabel {
  margin-top: 1rem;
  margin-bottom: 34vh;
  justify-content: center;
}

ion-label.splashLabel {
  font-size: 2rem;
}
