<ion-header>
</ion-header>

<!-- ios 상태표시줄 영역 설정 -->
<ion-row class="iosStatusBar">
  </ion-row>  

<ion-content class="ion-padding">
  <div class="container">
    <!-- 로고 -->
    <ion-row class="logo">
      <ion-thumbnail class="logo">
        <ion-img class="logo" src="{{auth.root}}assets/png/ic_login_prnumber.png"></ion-img>
      </ion-thumbnail>
    </ion-row>
    <!-- 회원가입이 완료되었습니다. -->
    <ion-row class="introTitle">
      <ion-label class="introTitle">
        {{auth.message.get('signup', 'signupComplete')}}
      </ion-label>
    </ion-row>
    <!-- 이제 당신만의 브랜드샵을 만들고 실시간 이벤트 상품을 판매해 보세요. -->
    <ion-row class="introContent">
      <ion-label class="introContent">
        {{auth.message.get('signup', 'completeIntro')}}
      </ion-label>
    </ion-row>
  </div>
</ion-content>

<!-- 서비스시작 버튼 -->
<div class="footer">
  <ion-row class="footer">
    <ion-button class="footer" (click)='complete()'>{{auth.message.get('signup', 'serviceStart')}}</ion-button>
  </ion-row>
</div>


<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


<style>
  div.container {
    flex-direction: column;
    padding: 0rem 1.5rem;
  }

  /* 피플러스 로고 */
  ion-row.logo {
    margin-top: 2rem;
  }

  ion-thumbnail.logo {
    width: 5rem;
    height: 5rem;
  }

  /* 제목(P+ 회원가입이 완료되었습니다.) */
  ion-label.introTitle {
    width: 100%;
    font-size: 2.5rem;
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /* 제목(이제 당신만의 브랜드샵을 만들고 실시간 이벤트 상품을 판매해 보세요.) */
  ion-label.introContent {
    width: 100%;
    text-align: left;
    color: gray;
    font-size: 1.4rem;
  }

  div.footer {
    background: white;
  }

  ion-row.footer {
    padding: 0rem 2.5rem;
  }

  ion-button.footer {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    --background: var(--pplus-blue);
    --border-radius: 2rem !important;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    --box-shadow: none;
  }
</style>